@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  background: black;
}

a {
  text-decoration: none;
}

/* navigation */
nav {
  visibility: hidden;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 2;
  padding: 15px;
  position: fixed;
  width: 100%;
  margin: 0;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.burger--button {
  position: fixed;
  z-index: 3;
  right: 25px;
  top: 15px;
  width: 35px;
  height: 35px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  pointer-events: none;
}
.burger--button .burger--line:nth-child(2) {
  position: relative;
  left: -10px;
  transition: left 0.3s ease-in-out;
}
.burger--button .burger--line {
  background-color: black;
  width: 100%;
  height: 7px;
  display: block;
  margin-bottom: 5px;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.75rem rgb(253, 253, 253));
}

input {
  position: fixed;
  right: 25px;
  z-index: 4;
  top: 15px;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}
input:checked + .menu nav {
  visibility: visible;
  opacity: 1;
}
input:hover + .menu > .burger--button > .burger--line:nth-child(2) {
  left: 0;
}

.menu--list {
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu--list li a {
  color: black;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
.menu--list li a:hover,
.menu--list li a:focus {
  border-bottom: 5px solid #d200a2;
}

/* First page */
.first--page {
  min-height: 100vh;
  background-image: url("../assets/photos/astronaut.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.arrow {
  position: relative;
  left: 0px;
  width: 20px;
  height: auto;
  margin-left: 5px;
  transition: left 0.3s ease-in-out;
}

.header, .container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.header .header--box {
  position: relative;
  top: 35px;
  width: 200px;
  height: 250px;
  background: rgba(255, 255, 255, 0.6);
  border: 5px solid black;
  z-index: 1;
}
.header h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  display: table-caption;
  width: 100%;
  margin: 20px 13px 0 13px;
}
@-moz-document url-prefix() {
  .header h1 {
    margin: 40px auto;
  }
}
.header .a--header {
  display: block;
  color: black;
  width: 94%;
  text-align: right;
  margin-top: 37px;
}
.header .a--header:hover .arrow, .header .a--header:focus .arrow {
  left: 8px;
}

/* animation to move arrow to right*/
.down--arrow {
  display: block;
  width: 50px;
  height: auto;
  margin: 15px auto;
  position: absolute;
  transition: 0.3s ease-in-out;
  bottom: 0;
  left: 0;
  right: 0;
}
.down--arrow:hover, .down--arrow:focus {
  margin: 2px auto;
}

/* Second page */
.container {
  padding-bottom: 120px;
}

.second--page {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/photos/background_space.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
}
.second--page h2 {
  margin: 0;
  padding-top: 4.5rem;
  font-size: 4.5rem;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 4px #000000;
}
.second--page h2 span {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.2em;
  position: relative;
  top: -58px;
  left: 70px;
  z-index: -1;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 0px;
}
.second--page h3 {
  font-size: 1.5rem;
  margin: 0;
}
.second--page p {
  font-size: 1rem;
  line-height: 1.4rem;
}
.second--page p span {
  line-height: 2rem;
}
.second--page .quote {
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-left: 50px;
  margin-right: 15px;
}
.second--page .quote--gradient {
  display: none;
  font-weight: 300;
  font-size: 2rem;
  margin: 100px 20% 50px 0;
  line-height: 3rem;
  background-color: white;
  background: linear-gradient(345deg, rgb(210, 0, 162) 0%, rgb(255, 251, 203) 42%, rgb(255, 251, 203) 50%, rgb(255, 251, 203) 59%, rgb(210, 0, 162) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 0.3;
}
@-moz-document url-prefix() {
  .second--page .quote--gradient {
    opacity: 0.5;
  }
}

blockquote::before, blockquote::after {
  line-height: 0;
  color: white;
  position: relative;
  font-size: 6rem;
  opacity: 0.3;
}
blockquote::before {
  display: block;
  content: "“";
  top: 2.5rem;
  left: -1.5rem;
}
blockquote::after {
  display: inline-block;
  content: "”";
  bottom: -3.7rem;
  right: 1.5rem;
}

.img--major--tom {
  display: none;
  width: 120px;
  height: auto;
  display: block;
  float: right;
  transform: rotate(5deg);
  margin-top: 5px;
}

.second--page--a {
  color: #d200a2;
}
.second--page--a:hover .arrow, .second--page--a:focus .arrow {
  left: 10px;
}

/* Footer */
footer {
  position: fixed;
  z-index: 4;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #02071f;
  font-size: 0.9rem;
  padding: 10px 0 10px 0;
}
footer p {
  margin: 0px 15px;
  color: #d200a2;
  text-align: center;
  text-shadow: 0 0 5px #d200a2;
}

.accept--button {
  display: block;
  width: 100px;
  margin: 20px auto 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #071160;
  color: white;
  text-transform: uppercase;
}
.accept--button:hover, .accept--button:focus {
  background-color: #050d3a;
}

@media screen and (min-width: 700px) {
  /* first page */
  .header .header--box {
    width: 250px;
    height: 300px;
    top: 60px;
  }
  .header h1 {
    font-size: 4rem;
    margin-left: 15px;
  }
  @-moz-document url-prefix() {
    .header h1 {
      margin: 40px auto;
    }
  }
}
@media screen and (min-width: 900px) {
  /* first page */
  .header, .container {
    width: 90%;
    max-width: 1300px;
  }
  .header .header--box {
    width: 400px;
    height: 400px;
    top: 60px;
  }
  .header h1 {
    padding-top: 80px;
    font-size: 5.5rem;
    display: table-cell;
  }
  .header .a--header {
    font-size: 1.2rem;
    margin-top: 90px;
  }
  /* Second page */
  .container {
    display: flex;
    justify-content: space-between;
  }
  .column {
    width: 45%;
  }
  .column h2 {
    font-size: 5rem;
  }
  .column p {
    font-size: 1rem;
    line-height: 2rem;
  }
  .column .quote {
    margin-top: 60px;
  }
  .column .quote--gradient {
    display: block;
  }
  .img--major--tom {
    display: block;
  }
  .second--page--a {
    font-size: 1rem;
  }
  /*  footer */
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .accept--button {
    margin: 10px 40px 10px 0;
  }
  footer p {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1600px) {
  .header, .container {
    max-width: 1300px;
  }
  .header .header--box {
    width: 600px;
    height: 600px;
  }
  .header h1 {
    font-size: 10rem;
  }
  .header .a--header {
    font-size: 1.5rem;
    margin-top: 120px;
  }
}/*# sourceMappingURL=style.css.map */
